@media (max-width: 600px) {

  h1 {
    font-size: 2.5rem;
  }

  h6 {
    font-size: 16px;
    padding: 0 10px;
  }

  ul li a {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 1rem;
  }

  ul li a:hover {
    margin: 10px;
    padding: 15px;
    font-size: 1.1rem;
  }

  .music-card {
    width: 90%;
    margin: 10px 0;
    padding: 15px;
  }

  .music-card:hover {
    transform: none;
    padding: 15px;
  }

  .buscador-contenedor {
    padding: 10px;
  }

  .search-form {
    flex-direction: column;
    border-radius: 20px;
  }

  .search-form input[type="search"],
  .search-form button {
    width: 100%;
    box-sizing: border-box;
    border-radius: 0;
  }

  .search-form button {
    border-radius: 0 0 20px 20px;
  }

  audio {
    max-width: 100%;
  }
}
